.cart {
    padding: 1rem;
    margin: 1rem;
    display: flex;
  }
  .cart-header {
    border-bottom: 0.1rem #c0c0c0 solid;
  }
  .cart-items {
    padding: 0;
    width: 100%;
    list-style-type: none;
  }
  .cart-items img {
    width: 5rem;
  }
  .cart-items li {
    display: flex;
  }
  .cart-items li div {
    padding: 0.5rem;
  }
  .cart-items li div:last-child {
    flex: 1;
  } 
  .cart-right {
    text-align: right;
  }
  .cart-checkout li{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .cart-checkout {
    width: 100%;
    padding: 0;
    list-style-type: none;
  }
  form {
    width: 100%;
  }
  input {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
  }
  